.user {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
}

ul {
  margin: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}
